<BlazorScopedCss.ScopedStyle EmbeddedStylePath="InstagramNotification.razor.css"
                             Parent="this"
                             AfterInit="StateHasChanged"
                             @ref="scopedStyle" />

@if (scopedStyle?.IsComplete ?? false)
{
    <div class=@scopedStyle.CssClassesMixed("row", "instagram-notification")>

        <div class=@scopedStyle.CssClassesMixed("col-1", "col-user")>

            <figure class=@scopedStyle.CssClassesMixed("image is-32x32 zero-margin", "col-figure")>

                <img class=@scopedStyle.CssScopedClasses("col-user-figure-image") src="https://i.postimg.cc/xTRmVt0V/computer-vision.png" />

            </figure>
        </div>

        <div class="col-3">

            <span class=@scopedStyle.CssScopedClasses("font-size", "bold")>@Title </span>

            @if (WithConfidence)
            {
                <div id="with-confidence">
                    <span class=@scopedStyle.CssScopedClasses("font-size")>with </span>

                    <span class=@scopedStyle.CssScopedClasses("font-size", "confidence")>#confidence </span>
                </div>
            }

            <span class=@scopedStyle.CssScopedClasses("font-size") style="color: #@SubTitle">@SubTitle</span>

        </div>

        <div class="col-1">

            <figure class=@scopedStyle.CssClassesMixed("image is-32x32 zero-margin", "col-figure")>

                <img src=@ImageUrl />

            </figure>

        </div>

    </div>

}

@code {
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string SubTitle { get; set; }
    [Parameter]
    public string ImageUrl { get; set; }
    [Parameter]
    public bool WithConfidence { get; set; }

    BlazorScopedCss.ScopedStyle scopedStyle;

}
