@page "/computervision"
@page "/computervision/{Option}"
@using InstagramComputerVision.Helpers
@using Microsoft.Azure.CognitiveServices.Vision.ComputerVision.Models
@using InstagramComputerVision.Components.ComputerVision

@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager
@inject IComputerVisionService computerVisionService

@if (isLoading)
{
    <Loader></Loader>
}
else
{
    <div class="container-inner">
        <div class="row">
            <div class="col-sm-3">
                <InstagramPost Media="media" OnOptionSelected="OptionSelectedHandle" />
            </div>
            <div class="col-sm-9">
                @if (isLoadingAnalyze)
                {
                    <Loader></Loader>
                }
                else
                {
                    switch (optionEnum)
                    {
                        case ComputerVisionOption.AnalyzeImage:
                            <ImageAnalysisNotifications Thumbnail="thumbnail" Analysis="analysis" />
                            break;
                        case ComputerVisionOption.OpticalCharacterRecognition:
                            <OcrNotifications Thumbnail="thumbnail" OcrResult="ocrResult" />
                            break;
                        default:
                            <ImageAnalysisNotifications Thumbnail="thumbnail" Analysis="analysis" />
                            break;
                    }

                }
            </div>
        </div>
    </div>
}

@code {

    [Parameter]
    public string Option { get; set; }
    public ComputerVisionOption optionEnum = ComputerVisionOption.AnalyzeImage;

    private bool isLoading = true;
    private bool isLoadingAnalyze = true;
    private InstaPost media = null;
    private ImageAnalysis analysis = null;
    private OcrResult ocrResult = null;
    private Stream thumbnail = null;

    protected override async Task OnInitializedAsync()
    {
        Option = string.IsNullOrWhiteSpace(Option) ? ComputerVisionOption.AnalyzeImage.ToString() : Option;

        optionEnum = (ComputerVisionOption)Enum.Parse(typeof(ComputerVisionOption), Option);
        media = await localStorageService.GetItemAsync<InstaPost>(Constant.INSTAPOST);

        isLoading = false;
        StateHasChanged();

        await RunComputerVision();

        isLoadingAnalyze = false;
        StateHasChanged();
    }

    async Task OptionSelectedHandle((InstaPost, ComputerVisionOption) option)
    {
        navigationManager.NavigateTo($"ComputerVision/{option.Item2.ToString()}");

        isLoadingAnalyze = true;
        StateHasChanged();

        optionEnum = option.Item2;
        await RunComputerVision();

        isLoadingAnalyze = false;
        StateHasChanged();
    }

    private async Task RunComputerVision()
    {
        switch (optionEnum)
        {
            case ComputerVisionOption.AnalyzeImage:
                analysis = await computerVisionService.AnalyzeImageUrl(GetValidImageLink(media.ImageUrl));
                break;
            case ComputerVisionOption.OpticalCharacterRecognition:
                ocrResult = await computerVisionService.OcrUrl(GetValidImageLink(media.ImageUrl));
                break;
            default:
                analysis = await computerVisionService.AnalyzeImageUrl(GetValidImageLink(media.ImageUrl));
                break;
        }

        thumbnail = await computerVisionService.GenerateThumbnailUrl(GetValidImageLink(media.ImageUrl));
    }


    string GetValidImageLink(string originalLink)
    {
        return CommonHelpers.GetValidImageLink(originalLink);
    }
}
