@page "/"
@inject InstagramService instagramService
@inject ILocalStorageService localStorageService
@inject NavigationManager navigationManager

<div class="form-group">
    <label for="exampleInputEmail1">Tag to Search</label>
    <input type="text" class="form-control" placeholder="Tag" @bind="key" @onkeypress=KeyUp>
    <small class="form-text text-muted">
        Analyze the tag posts you enter
    </small>
</div>
<button type="submit" class="btn btn-primary" @onclick=SearchClick>Search</button>


@if (isLoading)
{
    <Loader></Loader>
}
else
{
    <SurveyPrompt Title="Double Tap for Analyze Post ❤" />
    <div class="container-inner">
        <div class="row justify-content-center">
            @foreach (var item in posts)
            {
                @if (!string.IsNullOrWhiteSpace(item.ImageUrl))
                {
                    <div class="col-xs-12 col-md-3">
                        <InstagramPost Media=@item OnLiked=LikedHandle OnOptionSelected="OptionSelectedHandle"/>
                    </div>
                }
            }
        </div>
    </div>

}


@code{
    private bool isLoading = true;
    private string key = "blazor";
    private IEnumerable<InstaPost> posts = Enumerable.Empty<InstaPost>();

    protected override async Task OnInitializedAsync()
    {
        posts = await instagramService.GetInstaPosts(key);
        isLoading = false;
        StateHasChanged();
    }

    async Task SearchClick()
    {
        await Search();
    }

    async Task LikedHandle(InstaPost instaPost)
    {
        if (await localStorageService.ContainKeyAsync(Constant.COMPUTERVISIONKEY))
        {
            await localStorageService.SetItemAsync(Constant.INSTAPOST, instaPost);
            navigationManager.NavigateTo("ComputerVision");
        }
        else
        {
            navigationManager.NavigateTo("Settings");
        }
    }

    async Task OptionSelectedHandle((InstaPost, ComputerVisionOption) option)
    {
        if (await localStorageService.ContainKeyAsync(Constant.COMPUTERVISIONKEY))
        {
            await localStorageService.SetItemAsync(Constant.INSTAPOST, option.Item1);
            navigationManager.NavigateTo($"ComputerVision/{option.Item2.ToString()}");
        }
        else
        {
            navigationManager.NavigateTo("Settings");
        }
    }

    async Task KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await Search();
        }
    }

    async Task Search()
    {
        isLoading = true;
        StateHasChanged();
        posts = await instagramService.GetInstaPosts(key);
        isLoading = false;
        StateHasChanged();
    }
}


